
body{
    margin: 0px;
}
.slideshow-container {
    width:100px;
    position: relative;
    text-align: center;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
.navbar{
    display: flex;
    align-items: center;
    height: 110px;
    margin-top: 3px;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
    border-bottom: 4px solid #9577e1;
}
.navbar-left{
    display: flex;
    align-items: center;
    font-size: xx-large;
    margin-left: 50px;
}
.heading{
    display: flex;
}
.heading .me{
    color: #f8cf32;
}
.heading .mo{
    color: #9577e1;
}
.heading .ri{
    color: #95e0b9;
}
.heading .ce{
    color: #f05375;
}
.navbar-right{
    display: flex;
    top: 65px;
    gap: 50px;
    left: 1000px;
    margin-right: 50px;
}
.navbar-right-items a{
    text-decoration: none;
    color: #363636;
    font-family: 'Josefin Sans', sans-serif;
    font-size: larger;
}
.navbar-right-items a:hover{
    border-bottom: 3px solid red;
}
.contents{
    position: relative;
}
.contents img,p{
    width: 30%;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 35px;
    text-align: justify;
    font-size: larger;
}
.contents .a{
    border: 4px solid #f8cf32;
    position: absolute;
    top: 100px;
    left: 150px;
}
.contents .b{
    border: 4px solid #9577e1;
    position: absolute;
    top: 700px;
    left: 850px;
}
.contents .c{
    border: 4px solid #95e0b9;
    position: relative;
    top:1300px;
    left: 150px;
}
.contents .d{
    border: 4px solid #f05375;
    position: relative;
    top:1900px;
    left:400px;
}
.contents .e{
    border: 4px solid #b4c733;
    position: absolute;
    top: 2500px;
    left: 150px;
}
.contents .pa{
    position: absolute;
    top:150px;
    left: 850px;
}
.contents .pb{
    position: absolute;
    top: 770px;
    left: 150px;
}
.contents .pc{
    position: relative;
    top:870px;
    left: 870px;
}
.contents .pd{
    position: relative;
    top:1160px;
    left:150px;
}
.contents .pe{
    position: absolute;
    top: 2650px;
    left: 870px;
}